/* Main container with flex layout */
.reset-password-container {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  /* Ensure the form section is on the right side */
  .reset-password-form-section {
    flex: 1;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25) 0%,    /* Dark shade at the top */
      rgba(0, 0, 0, 0.2) 10%,    /* Medium shade */
      rgba(0, 0, 0, 0.02) 150px,
      rgba(0, 0, 0, 0) 100%       /* Fully transparent at the bottom */
    );
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center; /* Center the form in the section */
    align-items: center;     /* Center the content vertically */
    position: relative; /* Allow the sliding button to be positioned within this section */
  }
  
  /* Adjust form layout */
  .reset-password-form-content {
    width: 450px; /* Set a fixed width for the form */

    box-sizing: border-box; /* Ensure padding doesn't affect width */
  }
  
  /* Styling for text and icons */
  .text-center {
    margin-top: 0;
    font-size: 1.2rem; /* Smaller font size */
  }
  
  /* Background image section (left side) */
  .background-image-section {
    flex: 1;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  /* Centered content in the background section */
  .centered-content {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .centered-content h1 {
    font-size: 3rem; /* Adjusted size */
  }
  
  .centered-content p {
    font-size: 1.2rem; /* Adjusted size */
  }
  
  /* Smaller input group and button */
  .InputGroup, .FormControl {
    font-size: 0.85rem; /* Smaller input font */
  }
  
  .svg-image {
    width: 200px;
    height: 135px; /* Scaled down to fit */
  }
  
  /* Mobile responsiveness */
  @media (max-width: 720px) {
    .reset-password-container {
      flex-direction: column;
    }
    .background-image-section {
      display: none;
    }
    .reset-password-form-section {
      width: 100%;
      padding: 10px;
    }
  }
  